<!doctype html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - Knowledge Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block head %}{% endblock %}
</head>

<body>
<nav>
        <h1>{% block header %}{% endblock %}</h1>
        <div class="rightside">
                <a href="{{ url_for('explorer.browse_index') }}">Knowledge Seeker</a>
        </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>
