<!doctype html>
<html lang="en">
<head>
<title>{% block wholetitle %}{% block title %}{% endblock %} - Knowledge Seeker{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% block head %}{% endblock %}
{% macro jquery() -%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{%- endmacro %}
</head>

<body>{% block body %}
<nav>
        <h2 class="leftside">{% block header %}{% endblock %}</h2>
        <h1 class="rightside">
                <a href="{{ url_for('index') }}">
                        Knowledge Seeker
                        <img src="{{ url_for('static', filename='logo-small.png') }}"
                             alt="logo"
                             width="209"
                             height="167">
                </a>
        </h1>
</nav>
{% block content %}{% endblock %}
{% endblock %}</body>
</html>
