<!doctype html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - Knowledge Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block head %}{% endblock %}
{% macro jquery() -%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{%- endmacro %}
</head>

<body>
<nav>
        <h2 class="leftside">{% block header %}{% endblock %}</h2>
        <h1 class="rightside">
                <a href="{{ url_for('explorer.browse_index') }}">Knowledge Seeker</a>
        </h1>
</nav>
{% block content %}{% endblock %}
</body>
</html>
