{% extends 'base.html' %}

{% set slug_kwargs = { 'season': season, 'episode': episode } %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='table-listing.css') }}">
{% endblock %}

{% block title %}
{{ episode_name }} - {{ season_name }}
{% endblock %}

{% block header %}
{% if season_has_icon %}
<a href="{{ url_for('webui.browse_season', season=season) }}">
        <img class="season-icon"
             src="{{ url_for('webui.season_icon', season=season) }}"
             alt=""></a>
{% endif %}
<a href="{{ url_for('webui.browse_season', season=season) }}">{{ season_name }}</a> |
{{ episode_name }}
{% endblock %}

{% block content %}
<section>
<table>
<tbody>
{% for row in subtitles %}
<tr class="subtitle">
{% if row['snapshot_ms'] is not none %}
        {% set start = str_ms(row['start_ms']) %}
        {% set end = str_ms(row['end_ms']) %}
        <td>
                <a class="image-timecode-wrap"
                   href="{{ url_for('webui.browse_moment', ms=row['snapshot_ms'], **slug_kwargs) }}">
                        <img class="image"
                             src="{{ url_for('clips.snapshot_tiny', ms=row['snapshot_ms'], **slug_kwargs) }}"
                             alt="">
        {% if start == end %}
                        <span class="timecode subtitle-range">{{ start }}</span>
        {% else %}
                        <span class="timecode subtitle-range">{{ start }} - {{ end }}</span>
        {% endif %}
                </a>
        </td>
        <td class="subtitle-text">
                <a href="{{ url_for('webui.browse_moment', ms=row['snapshot_ms'], **slug_kwargs) }}">
                        {{ row['content']|safe }}
                </a>
        </td>
{% else %}
        <td></td>
        <td class="subtitle-text">{{ row['content']|safe }}</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</section>
{% endblock %}

