<!doctype html>
<html>
<head>
        <title>{{ season.name }} - {{ episode.name }} - Knowledge Seeker</title>
</head>

<body>
        <nav>
                <h1><a href="..">{{ season.name }}</a> | {{ episode.name }}</h1>
        </nav>
        <section>
                {% for subtitle in subtitles %}
                <div class="subtitle" style="margin-top: {{ subtitle.time_since_last }}rem;">
                        <a href="/{{ season.slug }}/{{ episode.slug }}/{{ subtitle.timecode }}">
                                <span class="subtitle-image">
                                        <img width="150" height="100" alt="" src="/{{ season.slug }}/{{ episode.slug }}/{{ subtitle.timecode }}/pic">
                                </span>
                                <span class="subtitle-range">{{ subtitle.range }}</span>
                                <span class="subtitle-text">{{ subtitle.text|safe }}</span>
                        </a>
                </div>
                {% endfor %}
        </section>
</body>
</html>
