{% import 'base.html' as base %}
{% extends 'base.html' %}

{% set slug_kwargs = { 'season': season, 'episode': episode } %}
 
{% block title %}
{% if current_sub is none %}
        {{ episode_name }} - {{ season_name }}
{% else %}
        "{{ current_sub['content']|safe }}" - {{ episode_name }} - {{ season_name }}
{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='moment.css') }}">
{{ base.jquery() }}
{% endblock %}

{% block header %}
{% if season_has_icon %}
<a href="{{ url_for('webui.browse_season', season=season) }}">
        <img class="season-icon"
             src="{{ url_for('webui.season_icon', season=season) }}"
             alt=""></a>
{% endif %}
<a href="{{ url_for('webui.browse_season', season=season) }}">{{ season_name }}</a> |
<a href="{{ url_for('webui.browse_episode', **slug_kwargs) }}">{{ episode_name }}</a>
{% endblock %}

{% block content %}
<section id="browser">
        <div class="preview-image">
                <img src="{{ url_for('clips.snapshot', ms=ms, **slug_kwargs) }}"
                     alt="right now">
        </div>
        <div class="preview-links">
                <a class="media-link jpeg"
                   target="_blank"
                   href="{{ url_for('clips.snapshot', ms=ms, **slug_kwargs) }}">
                        JPEG
                </a>
                <a class="media-link jpeg"
                   target="_blank"
                   href="{{ url_for('clips.snapshot', ms=ms, btmb64=encode_text(current_sub['content']), **slug_kwargs) }}">
                        JPEG+Sub
                </a>
        </div>
        <div class="subtitle-list">
{% for row in subtitles %}
{% if ms >= row['start_ms'] and ms <= row['end_ms'] %}
                <span class="subtitle now">{{ row['content']|safe }}</span>
{% elif row['snapshot_ms'] is not none %}
                <span class="subtitle">
                        <a href="{{ url_for('webui.browse_moment', ms=row['snapshot_ms'], **slug_kwargs) }}">
                                {{ row['content']|safe }}
                        </a>
                </span>
{% else %}
                <span class="subtitle">
                        {{ row['content']|safe }}
                </span>
{% endif %}
{% endfor %}
        </div>
        <div class="nav-browser">
{% for nav_ms in nav_list %}
{% if nav_ms == ms %}
                <span class="nav-moment now">
                        <img src="{{ url_for('clips.snapshot_tiny', ms=ms, **slug_kwargs) }}"
                             alt="right now">
                </span>
{% elif nav_ms < ms %}
{% set nav_offset = ms - nav_ms %}
                <a class="nav-moment past"
                   href="{{ url_for('webui.browse_moment', ms=nav_ms, **slug_kwargs) }}">
                        <img src="{{ url_for('clips.snapshot_tiny', ms=nav_ms, **slug_kwargs) }}"
                             alt="{{ nav_offset }}s behind">
                        <span class="offset">
                                <span class="fill"></span>
                                <span class="value">-{{ nav_offset }}ms</span>
                        </span>
                </a>
{% else %}
{% set nav_offset = nav_ms - ms %}
                <a class="nav-moment future"
                   href="{{ url_for('webui.browse_moment', ms=nav_ms, **slug_kwargs) }}">
                        <img src="{{ url_for('clips.snapshot_tiny', ms=nav_ms, **slug_kwargs) }}"
                             alt="{{ nav_offset }}s ahead">
                        <span class="offset">
                                <span class="fill"></span>
                                <span class="value">+{{ nav_offset }}ms</span>
                        </span>
                </a>
{% endif %}
{% endfor %}
        </div>
</section>

<script src="{{ url_for('static', filename='moment.js') }}"></script>
{% endblock %}
