{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block title %}Search results for "{{ query }}"{% endblock %}

{% block header %}Search{% endblock %}

{% block search_query %}{{ query }}{% endblock %}

{% block content %}
<form action="{{ url_for('searcher.do_search') }}"
      method="get">
        <input name="q" value="{{ query }}" autofocus><button type="submit">Again</button>
</form>

<section>
{% for result in results %}
{% set episode_kwargs = { 'season': result['season_slug'], 'episode': result['episode_slug'] } %}
        <a class="result"
           href="{{ url_for('explorer.browse_moment', timecode=result['timecode'], **episode_kwargs) }}">
                <img src="{{ url_for('clipper.snapshot_tiny', timecode=result['timecode'], **episode_kwargs) }}"
                     alt="">
        </a>
{% endfor %}
</section>
{% endblock %}
