{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block title %}Search results for "{{ query }}"{% endblock %}

{% block header %}Search{% endblock %}

{% block search_query %}{{ query }}{% endblock %}

{% block content %}
<form action="{{ url_for('searcher.do_search') }}"
      method="get">
        <input name="q" value="{{ query }}" autofocus><button type="submit">Search Again</button>
</form>

<section>
{% if query == "" %}
{% elif n_results == 0 %}
        <p class="no-results">No results found for "{{ query }}".</p>
{% else %}
        {% for result in results %}
        {% set episode_kwargs = { 'season': result['season_slug'], 'episode': result['episode_slug'] } %}
        <a class="result"
           href="{{ url_for('explorer.browse_moment', timecode=result['timecode'], **episode_kwargs) }}"
           title="{{ result['content'] }}">
                <img src="{{ url_for('clipper.snapshot_tiny', timecode=result['timecode'], **episode_kwargs) }}"
                     alt="">
        </a>
        {% endfor %}
{% endif %}
</section>
{% endblock %}
