{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block title %}{{ season.name }}{% endblock %}

{% block header %}
{% if season.icon is not none %}
<img class="season-icon"
     src="{{ url_for('explorer.season_icon', season=season.slug) }}"
     alt="">
{% endif %}
{{ season.name }}
{% endblock %}

{% block content %}
<section class="season-standalone">
{% for episode in season.episodes %}
{% set episode_kwargs = { 'season': season.slug, 'episode': episode.slug } %}
        <a class="episode"
           href="{{ url_for('explorer.browse_episode', **episode_kwargs) }}">
                <span class="image-timecode-wrap">
                        <img class="image"
                             src="{{ url_for('clipper.snapshot_tiny', timecode=episode.preview, **episode_kwargs) }}"
                             alt="{{ episode.name }}">
                        <span class="timecode episode-length">{{ episode.duration.str_seconds() }}</span>
                </span>
                <span class="episode-name">{{ episode.name }}</span>
        </a>
{% endfor %}
</section>
{% endblock %}
