{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='table-listing.css') }}">
{% endblock %}

{% block title %}{{ season_name }}{% endblock %}

{% block header %}
{% if season_has_icon %}
<img class="season-icon"
     src="{{ url_for('webui.season_icon', season=season) }}"
     alt="">
{% endif %}
{{ season_name }}
{% endblock %}

{% block content %}
<section>
<table>
<tbody>
{% for row in episodes %}
<tr class="episode">
{% set slug_kwargs = { 'season': season, 'episode': row['slug'] } %}
	<td>
{% if row['snapshot_ms'] is not none %}
                <a class="image-timecode-wrap"
                   href="{{ url_for('webui.browse_episode', **slug_kwargs) }}">
                        <img class="image"
                             src="{{ url_for('clips.snapshot_tiny', ms=row['snapshot_ms'], **slug_kwargs) }}"
                             alt="{{ row['name'] }}">
                        <span class="timecode episode-length">{{ str_ms(row['duration']) }}</span>
                </a>
{% endif %}
        </td>
        <td class="episode-name">
                <a href="{{ url_for('webui.browse_episode', **slug_kwargs) }}">
                        {{ row['name'] }}
                </a>
        </td>
</tr>
{% endfor %}
</tbody>
</table>
</section>
{% endblock %}
