{% extends 'base.html' %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static',
filename='season.css') }}">{% endblock %}

{% block title %}{{ season.name }}{% endblock %}

{% block header %}{{ season.name }}{% endblock %}

{% block content %}
<section>
        {% for episode in episodes %}
        <a class="episode" href="{{ url_for('explorer.browse_episode', season=season.slug, episode=episode.slug) }}">
                <span class="image-timecode-wrap">
                        <img class="image" src="{{ url_for('clipper.snapshot', season=season.slug, episode=episode.slug, timecode=episode.timecode) }}" alt="">
                        <span class="timecode episode-length">{{ episode.duration }}</span>
                </span>
                <span class="episode-name">{{ episode.name }}</span>
        </a>
        {% endfor %}
</section>
{% endblock %}
