.subtitle {
        text-decoration: none;
        margin: 0.3rem 0;
}
.subtitle > * {
        vertical-align: middle;
}
.subtitle-text {
        padding-left: 1rem;
        font-size: 110%;
}

.image-timecode-wrap {
        height: 4rem;
}
.image-timecode-wrap > .timecode {
        font-size: 80%;
}

