.subtitle {
        display: block;
        text-decoration: none;
}
.subtitle > * {
        vertical-align: middle;
}
.subtitle-text {
        margin-left: 1rem;
        font-size: 110%;
}

.image-timecode-wrap {
        height: 4rem;
}
.image-timecode-wrap > .timecode {
        font-size: 80%;
}

