.season-index {
        margin-bottom: 4rem;
}
.season-index > h2 {
        text-align: center;
}
.season-index .icon {
        display: inline-block;
        height: 4rem;
}
.season-index .icon > img {
        width: auto;
        height: 100%;
}

.episode {
        display: block;
        text-decoration: none;
        margin: 0.5rem 0;
}
.episode > * {
        vertical-align: middle;
}
.episode-name {
        margin-left: 1rem;
        font-size: 150%;
}

