:root {
        --jpeg-color: #0072ff;
        --gif-color: #cf0000;
        --webm-color: #009a12;
        --split-color: #a400ff;
        --current-time-color: #ff9600;
        --intermediate-time-color: white;
        --start-time-color: #48df00;
        --end-time-color: #ff0000;
}

.preview-image {
        float: left;
        width: 50%;
        padding: 1rem;
}
.preview-image > img {
        display: block;
        width: 100%;
        height: auto;
}
.preview-links,
.subtitle-list {
        padding: 1rem;
}

.subtitle {
        display: block;
        margin: 1rem 0;
}
.subtitle.now {
        margin: 1rem 0;
        font-size: 150%;
}

.nav-browser {
        clear: both;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
}
.nav-moment {
        display: inline-block;
        position: relative;
        width: 10%;
        margin: 0.2rem;
        border: 4px solid white;
}
.nav-moment.now {
        border-color: var(--current-time-color);
}
.nav-moment > img {
        display: block;
        width: 100%;
        height: auto;
        border-color: white;
}
.nav-moment > .offset {
        position: absolute;
        bottom: 0.2rem;
        padding: 0 0.3rem;
}
.nav-moment.past > .offset {
        left: 0;
}
.nav-moment.future > .offset {
        right: 0;
}
.nav-moment > .offset > .value {
        position: relative;
        font-size: 90%;
        font-family: var(--sans-font);
        color: white;
}
.nav-moment > .offset > .fill {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.7;
        background-color: black;
}

#dual-controls {
        position: relative;
        top: 2rem;
        text-align: right;
}
.split-links {
        float: left;
}
.media-link.split {
        border-color: var(--split-color);
        background-color: var(--split-color);
        color: white;
}
.media-link.split:hover {
        color: var(--split-color);
        background-color: white;
}

/* dual browsing only */
.nav-intermediates {
        text-align: center;
        margin: 3rem 0;
}
.intermediate-moment {
        width: 18%;
}
.intermediate-moment {
        border: 4px solid var(--intermediate-time-color);
}
.intermediate-moment.start,
.start-nav .nav-moment.now {
        border: 4px solid var(--start-time-color);
}
.intermediate-moment.end,
.end-nav .nav-moment.now {
        border: 4px solid var(--end-time-color);
}
.intermediate-moment > .time {
        position: absolute;
        top: 0.5rem;
        left: 35%;
        right: 35%;
}
.intermediate-moment > .time > .value {
        position: relative;
        font-size: 120%;
        font-family: var(--sans-font);
        color: white;
}
.intermediate-moment > .time > .fill {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.6;
        background-color: black;
}
.dual-duration {
        position: relative;
        top: -0.5rem;
        font-size: 3rem;
}

/* JS media pop-up */
.media-dialog-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 15%;
        text-align: center;
        cursor: pointer;
}
#media-dialog {
        display: inline-block;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 0 30px black;
        cursor: default;
}
.media-dialog-shade {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.4;
        cursor: pointer;
}
