:root {
        --jpeg-color: #0072ff;
        --gif-color: #cf0000;
        --webm-color: #009a12;
        --split-color: #a400ff;
        --current-time-color: #ff9600;
        --intermediate-time-color: white;
        --start-time-color: #48df00;
        --end-time-color: #ff0000;
}

.preview-image {
        float: left;
        width: 50%;
        padding: 1rem;
}
.preview-image > img {
        display: block;
        width: 100%;
        height: auto;
}
.preview-links,
.subtitle-list {
        padding: 1rem;
}

.subtitle {
        display: block;
        margin: 1rem 0;
}
.subtitle.now {
        margin: 1rem 0;
        font-size: 150%;
}

.nav-browser {
        clear: both;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
}
.nav-moment {
        display: inline-block;
        width: 10%;
        margin: 0.2rem;
        border: 0.2rem solid white;
}
.nav-moment.now {
        border-color: var(--current-time-color);
}
.nav-moment > img {
        display: block;
        width: 100%;
        height: auto;
        border-color: white;
}

#dual-controls {
        position: relative;
        top: 2rem;
        text-align: center;
}
#dual-split {
        border-color: var(--split-color);
        background-color: var(--split-color);
        color: white;
}
#dual-split:hover {
        color: var(--split-color);
        background-color: white;
}

/* dual browsing only */
.nav-intermediates {
        text-align: center;
        margin: 3rem 0;
}
.nav-moment.animation-start,
.nav-moment.animation-intermediate,
.nav-moment.animation-end {
        width: 18%;
}
.nav-moment.animation-start,
#start-nav .nav-moment.now {
        border: 0.2rem solid var(--start-time-color);
}
.nav-moment.animation-intermediate {
        border: 0.2rem solid var(--intermediate-time-color);
}
.nav-moment.animation-end,
#end-nav .nav-moment.now {
        border: 0.2rem solid var(--end-time-color);
}
#dual-duration {
        text-align: center;
        font-size: 3rem;
}
