form {
        width: 40rem;
        max-width: 90%;
        margin: 1rem auto 0 auto;
}
form input {
        width: calc(100% - 7.5rem);
}
form button {
        width: 7rem;
        margin-left: 0.5rem;
}

.no-results {
        margin-top: 2rem;
        text-align: center;
        font-size: 150%;
        color: var(--grey-color);
}
.result {
        text-decoration: none;
}

