:root {
        --jpeg-color: #0072ff;
        --gif-color: #cf0000;
        --webm-color: #009a12;
        --split-color: #a400ff;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        color: black;
        background-color: white;
}
a:visited, a:link {
        color: #2a2a2a;
}
a:hover, a:focus {
        color: black;
}

/* common header */
nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 4rem;
}

/* browser pages */
#browser {
        margin-top: 4rem;
}

.browser-preview {
        float: left;
        width: 50%;
        padding: 1rem;
}
.browser-preview > img {
        display: block;
        width: 100%;
        height: auto;
}
.browser-controls {
        padding: 1rem;
}

.media-link {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 0.4rem;
        border-radius: 0.5rem;
        border: 0.1rem solid;
}
.media-link.disabled {
        border-color: grey;
        background-color: white;
        color: grey;
        cursor: not-allowed;
}
.media-link.jpeg {
        border-color: var(--jpeg-color);
        background-color: var(--jpeg-color);
        color: white;
}
.media-link.jpeg:hover {
        color: var(--jpeg-color);
        background-color: white;
}
.media-link.gif {
        border-color: var(--gif-color);
        background-color: var(--gif-color);
        color: white;
}
.media-link.gif:hover {
        background-color: white;
        color: var(--gif-color);
}
.media-link.webm {
        border-color: var(--webm-color);
        background-color: var(--webm-color);
        color: white;
}
.media-link.webm:hover {
        background-color: white;
        color: var(--webm-color);
}

.subtitle-list {
        margin-top: 2rem;
}
.subtitle {
        display: block;
        margin: 1rem 0;
}
.subtitle.now {
        font-size: 150%;
}

.nav-browser {
        clear: both;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
}
.nav-moment {
        display: inline-block;
        width: 10%;
        margin: 0.2rem;
}
.nav-moment > img {
        display: block;
        width: 100%;
        height: auto;
        border: 0.2rem solid;
        border-color: white;
}
.nav-moment.now > img {
        border-color: #ff9600;
}

#dual-controls {
        position: relative;
        top: 2rem;
        text-align: center;
}
#dual-split {
        border-color: var(--split-color);
        background-color: var(--split-color);
        color: white;
}
#dual-split:hover {
        color: var(--split-color);
        background-color: white;
}


/* narrow browser layout */
#first-browser {
        float: left;
        width: 50%;
}
#second-browser {
        float: right;
        width: 50%;
}
#first-browser .browser-preview,
#second-browser .browser-preview {
        width: 100%;
        float: none;
}
#first-browser .browser-controls,
#second-browser .browser-controls {
        position: relative;
        padding-top: 8rem;
}
#first-browser .nav-browser,
#second-browser .nav-browser {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
}
#first-browser .nav-moment,
#second-browser .nav-moment {
        width: 8rem;
}
#dual-controls {
        clear: both;
}

