:root {
        --jpeg-color: #0072ff;
        --gif-color: #cf0000;
        --webm-color: #009a12;
        --split-color: #a400ff;
        --sans-font: sans-serif;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        color: black;
        background-color: white;
}

body > section {
        padding: 1rem;
}

a:visited, a:link {
        color: #2a2a2a;
}
a:hover, a:focus {
        color: black;
}

.image-timecode-wrap {
        position: relative;
        display: inline-block;
        height: 5rem;
}
.image-timecode-wrap > img {
        display: block;
        width: auto;
        height: 100%;
}
.image-timecode-wrap > .timecode {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        color: white;
        text-align: center;
        font-family: var(--sans-font);
        font-size: 90%;
}

/* common header */
nav {
        padding: 1rem;
        border-bottom: 0.1rem dotted grey;
        font-size: 1.5rem;
}
nav .leftside {
        float: left;
}
nav .rightside {
        text-align: right;
}
nav .rightside a {
        text-decoration: none;
}
nav img {
        width: auto;
        height: 3rem;
        vertical-align: middle;
}

/* fancy buttons */
.media-link {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 0.4rem;
        border-radius: 0.5rem;
        border: 0.1rem solid;
        font-family: var(--sans-font);
}
.media-link.disabled {
        border-color: grey;
        background-color: white;
        color: grey;
        cursor: not-allowed;
}
.media-link.jpeg {
        border-color: var(--jpeg-color);
        background-color: var(--jpeg-color);
        color: white;
}
.media-link.jpeg:hover {
        color: var(--jpeg-color);
        background-color: white;
}
.media-link.gif {
        border-color: var(--gif-color);
        background-color: var(--gif-color);
        color: white;
}
.media-link.gif:hover {
        background-color: white;
        color: var(--gif-color);
}
.media-link.webm {
        border-color: var(--webm-color);
        background-color: var(--webm-color);
        color: white;
}
.media-link.webm:hover {
        background-color: white;
        color: var(--webm-color);
}

